<center>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/SN_web_lightmode.png" width="300"> 
</center>

# Assignment: Exploratory Data Analysis with SQL
Estimated time needed: 60 minutes


# Introduction
Using this R notebook you will perform exploratory data analysis tasks using SQL queries with the RODBC R package. You will not be graded here, but you will be asked to present some of these results in your final assignment, where you will be graded on the accuracy of your results as well as the content of your SQL queries.

### Establish your Db2 connection
Load the 'RODBC' library, and use the 'odbcConnect( )' function as you did in the previous lab to establish the connection to your Db2 assets.  
Provided you successfully loaded your data into the tables in that lab, you are now ready to start running SQL queries using the RODBC library as you did in Course 3.

In [4]:
# provide your solution here
library(RODBC);

dsn_driver <- "{IBM DB2 ODBC Driver}"
dsn_database <- "bludb"            # e.g. "bludb"
dsn_hostname <-"54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud"

dsn_port <- " 32733"   # e.g. "32733" 
dsn_protocol <- "TCPIP"            # i.e. "TCPIP"
dsn_uid <- "hfg30691"        # e.g. "zjh17769"
dsn_pwd <- "ckQpx5CDsuZSm5pT"   # e.g. "zcwd4+8gbq9bm5k4"  
dsn_security <- "ssl"


conn_path <- paste("DRIVER=",dsn_driver,
                  ";DATABASE=",dsn_database,
                  ";HOSTNAME=",dsn_hostname,
                  ";PORT=",dsn_port,
                  ";PROTOCOL=",dsn_protocol,
                  ";UID=",dsn_uid,
                  ";PWD=",dsn_pwd,
                  ";SECURITY=",dsn_security,        
                    sep="")
conn <- odbcDriverConnect(conn_path,believeNRows=FALSE)
conn


#View database and driver information
sql.info <- sqlTypeInfo(conn)
conn.info <- odbcGetInfo(conn)
conn.info["DBMS_Name"]
conn.info["DBMS_Ver"]
conn.info["Driver_ODBC_Ver"]

RODBC Connection 1
Details:
  case=nochange
  DRIVER={IBM DB2 ODBC DRIVER}
  UID=hfg30691
  PWD=******
  DATABASE=bludb
  HOSTNAME=54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud
  PORT=32733
  PROTOCOL=TCPIP
  SECURITY=SSL

       DBMS_Name
"DB2/LINUXX8664"

    DBMS_Ver
"11.05.0800"

Driver_ODBC_Ver
        "03.51"


## Task 1 - Record Count
#### Determine how many records are in the seoul_bike_sharing dataset.

### Solution 1

In [25]:
install.packages("RSQLite")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [12]:
library("RSQLite")

In [3]:
conn <- dbConnect(RSQLite::SQLite(),"ProjectRSQLite")

In [4]:
df1 <- dbExecute(conn, 
                    "CREATE TABLE SEOUL_BIKE_SHARING (
                                      DATE DATE NOT NULL,
                                      WEATHER INTEGER NOT NULL,
                                      HOUR TIME NOT NULL,
                                      TEMPERATURE  NOT NULL, 
                                      HUMIDITY INTEGER NOT NULL,
                                      WIND_SPEED INTEGER NOT NULL,
                                      VISIBILITY INTEGER NOT NULL,
                                      DEW_POINT_TEMPERATURE INTEGER NOT NULL,
                                      SOLAR_RADIATION INTEGER NOT NULL,
                                      RAINFALL INTEGER NOT NULL,
                                      SNOWFALL INTEGER NOT NULL,
                                      SEASONS VARCHAR(20)  NOT NULL,
                                      HOLIDAY  VARCHAR(20) NOT NULL,
                                      FUNCTIONING DAY VARCHAR(20) NOT NULL
   )", 
                    errors=FALSE
                    )

    if (df1 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

In [5]:
df2 <- dbExecute(conn, 
                    "CREATE TABLE CITIES_WEATHER_FORECAST (
                                      CITY VARCHAR(20) NOT NULL,
                                      WEATHER VARCHAR(20) NOT NULL,
                                      VISIBILITY INTEGER NOT NULL,
                                      TEMP INTEGER NOT NULL, 
                                      TEMP_MIN INTEGER NOT NULL,
                                      TEMP_MAX INTEGER NOT NULL,
                                      PRESSURE INTEGER NOT NULL,
                                      HUMIDITY INTEGER NOT NULL,
                                      WIND_SPEED INTEGER NOT NULL,
                                      WIND_DEG INTEGER NOT NULL,
                                      SEASON VARCHAR (20)  NOT NULL,
                                      FORECAST_DATETIME DATE NOT NULL
   )", 
                    errors=FALSE
                    )

    if (df2 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

In [6]:
df3 <- dbExecute(conn, 
                    "CREATE TABLE BIKE_SHARING_SYSTEMS  (
                                      COUNTRY VARCHAR(20) NOT NULL,
                                      CITY VARCHAR(20) NOT NULL,
                                      SYSTEM VARCHAR(20) NOT NULL,
                                      BICYCLES INTEGER NOTULL
                                       )", 
                    errors=FALSE
                    )

    if (df3 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

In [7]:
df4<- dbExecute(conn, 
                    "CREATE TABLE  WORLD_CITIES  (
CITY VAR HAR(20) NOT NULL,
CITY_ASCII VAR CHAR(20) NOT NULL,
LAT INTEGER NOT NULL,
LNG INTEGER NOT NULL,
COUNTRY VARCHAR(20) NOT NULL,
ISO2 CHAR NOT NULL,
ISO3CHAR NOT NULL,
ADMIN_NAME  VARCHAR (20) NOT NULL,
CAPITAL VARCHAR(20) NOT NULL,
POPULATION INTEGER NOT NULL,
ID INTEGER NOT NULL,
PRIMARY KEY(ID)
              )", 
                    errors=FALSE
                    )

    if (df4== -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

In [9]:
dbListTables(conn)

[1] "BIKE_SHARING_SYSTEMS"    "CITIES_WEATHER_FORECAST"
[3] "SEOUL_BIKE_SHARING"      "WORLD_CITIES"

In [13]:
# provide your solution here
query1 = "SELECT COUNT(*) FROM seoul_bike_sharing"
sqlQuery(conn,query1)

ERROR: Error in sqlQuery(conn, query1): could not find function "sqlQuery"

## Task 2 - Operational Hours
#### Determine how many hours had non-zero rented bike count.

### Solution 2

In [11]:
# provide your solution here
query2= "SELECT COUNT(*) FROM  seoul_bike_sharing WHERE RENTED_BIKE_COUNT= 0 "
sqlQuery(conn, query2)

ERROR: Error in sqlQuery(conn, query2): could not find function "sqlQuery"

## Task 3 - Weather Outlook
#### Query the the weather forecast for Seoul over the next 3 hours.
Recall that the records in the CITIES_WEATHER_FORECAST dataset are 3 hours apart, so we just need the first record from the query.

### Solution 3

In [7]:
# provide your solution here
query3= "SELECT * FROM CITIES_WEATHER_FORECAST LIMIT 1"
sqlQuery(conn,query3)

  COLUMN_0 COLUMN_1 COLUMN_2 COLUMN_3 COLUMN_4 COLUMN_5 COLUMN_6 COLUMN_7
1 Seoul    Clear    10000    12.32    10.91    12.32    1015     50
  COLUMN_8 COLUMN_9 COLUMN_10 COLUMN_11
1 2.18     248      Spring    2021-04-16 12:00:00

## Task 4 - Seasons
#### Find which seasons are included in the seoul bike sharing dataset.

### Solution 4

In [11]:
# provide your solution here
query4 = "SELECT DISTINCT (SEASONS) FROM  seoul_bike_sharing;"
sqlQuery(conn, query4)

[1] "42S22 -206 [IBM][CLI Driver][DB2/LINUXX8664] SQL0206N  \"SEASONS\" is not valid in the context where it is used.  SQLSTATE=42703\n"
[2] "[RODBC] ERROR: Could not SQLExecDirect 'SELECT DISTINCT (SEASONS) FROM  seoul_bike_sharing'"

## Task 5 - Date Range
#### Find the first and last dates in the Seoul Bike Sharing dataset.

### Solution 5

In [22]:
# provide your solution here
query5 = "SELECT MAX(DATE) AS Last_Date, MIN(DATE) AS first_date
        FROM SEOUL_BIKE_SHARING;"
sqlQuery(conn,query5)

[1] "42S22 -206 [IBM][CLI Driver][DB2/LINUXX8664] SQL0206N  \"DATE\" is not valid in the context where it is used.  SQLSTATE=42703\n"
[2] "[RODBC] ERROR: Could not SQLExecDirect 'SELECT MAX(DATE) AS Last_Date, MIN(DATE) AS first_date\n        FROM SEOUL_BIKE_SHARING;'"

## Task 6 - Subquery - 'all-time high'
#### determine which date and hour had the most bike rentals.

### Solution 6

In [ ]:
# provide your solution here

## Task 7 - Hourly popularity and temperature by season
#### Determine the average hourly temperature and the average number of bike rentals per hour over each season. List the top ten results by average bike count.

### Solution 7

In [ ]:
# provide your solution here

## Task 8 - Rental Seasonality
#### Find the average hourly bike count during each season. 
Also include the minimum, maximum, and standard deviation of the hourly bike count for each season.

### Solution 8

In [ ]:
# provide your solution here

Let's explore a bit and see what might be the most significant contributing factors in terms of the provided data.

## Task 9 - Weather Seasonality
#### Consider the weather over each season. On average, what were the TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBILITY, DEW_POINT_TEMPERATURE, SOLAR_RADIATION, RAINFALL, and SNOWFALL per season?
Include the average bike count as well , and rank the results by average bike count so you can see if it is correlated with the weather at all.

### Solution 9

In [ ]:
query <- 
# provide your solution here

## Task 10 - Total Bike Count and City Info for Seoul
#### Use an implicit join across the WORLD_CITIES and the BIKE_SHARING_SYSTEMS tables to determine the total number of bikes avaialble in Seoul, plus the following city information about Seoul: CITY, COUNTRY, LAT, LON, POPULATION, in a single view.
Notice that in this case, the CITY column will work for the WORLD_CITIES table, but in general you would have to use the CITY_ASCII column.

### Solution 10

In [ ]:
# provide your solution here

## Task 11 - Find all city names and coordinates with comparable bike scale to Seoul's bike sharing system
#### Find all cities with total bike counts between 15000 and 20000. Return the city and country names, plus the coordinates (LAT, LNG), population, and number of bicycles for each city.
Later we will ask you to visualize these similar cities on leaflet, with some weather data.

### Solution 11

In [ ]:
# provide your solution here

In [ ]:
close(conn)

## Author(s)

<h4> Jeff Grossman </h4>

## Contributor(s)

<h4> Yan Luo, Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description                                                                |
| ---------- | ------- | ------------- | --------------------------------------------------------------------------------- |
| 2021-05-04 | 0.2     | Jeff Grossman | Finalize                               |
| 2021-04-22 | 0.2     | Jeff Grossman | Update as per peer review                               |
| 2021-04-10 | 0.2     | Jeff Grossman | Add data sources and implicit joins                                  |
| 2021-04-05 | 0.1     | Jeff Grossman | Start content creation                                                          |


## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>